.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #0dc052;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
