.rec-page{
padding:40px;
background:#0f0f0f;
color:white;
min-height:100vh;
}

.rec-title{
font-size:36px;
margin-bottom:30px;
font-weight:700;
}

.rec-section{
margin-bottom:40px;
}

.rec-section-title{
margin-bottom:10px;
font-size:22px;
}

.rec-row{
display:flex;
gap:15px;
overflow-x:auto;
padding-bottom:10px;
}

.rec-row{
display:grid;
grid-template-columns: repeat(5, 1fr);
gap:15px;
}

.rec-card{
width:100%;
height:160px;
border-radius:10px;
overflow:hidden;
position:relative;
cursor:pointer;
transition:0.3s;
}
.rec-card:hover{
transform:scale(1.08);
}

.rec-card img{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:1;
}
.rec-info{
position:absolute;
bottom:0;
left:0;
right:0;
padding:10px;
background:linear-gradient(to top, rgba(0,0,0,0.8), transparent);
z-index:2;
}
.rec-info h3{
font-size:16px;
margin:0;
}

.rec-info p{
font-size:13px;
opacity:0.8;
}